{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Poll Test Project</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>

<body>
	<div id= "container">
		<header>
			<h1>iMMAP PRACTICAL TEST</h1>
			<h3>Poll Application </br> Using Django Framework</h3>
			<p><a href = "http://trustblog.herokuapp.com/" target="blank" >Nooria Esmaelzade</a></p>
		</header>

		<div id ="content">
			<h2 id ="detail_title">{{ question.question_text }}</h2>
			{% if error_message %}<p id= "warn_msg"><strong>{{ error_message }}</strong></p>{% endif %}

			<form action="{% url 'polls:vote' question.id %}" method="post">
			{% csrf_token %}
			{% for choice in question.choice_set.all %}
				<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
				<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
			{% endfor %}
			<input type="submit" value="Vote" id ="voteBtn">
			</form>
		</div>
	</div>
</body>
</html>





